appdirs==1.4.3
BeautifulSoup==3.2.1
beautifulsoup4==4.5.3
bs4==0.0.1
Cython==0.25.2
Django==1.10.6
lxml==3.7.3
nltk==3.2.2
numpy==1.21.0
oauthlib==2.0.2
packaging==16.8
pathlib==1.0.1
pyparsing==2.2.0
requests==2.13.0
requests-oauthlib==0.8.0
scikit-learn==0.18.1
scipy==0.19.0
six==1.10.0
sklearn==0.0
twython==3.4.0
